doctype html
html(lang='en')
    head
        meta(charset='UTF-8')

        link(href="https://fonts.googleapis.com/css?family=Exo+2:100,400,400i,500&amp;subset=cyrillic", rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
    body
        header.header
            .header__wrapper
                h1.header__title There is no other <br> platforms for you as like
                a(href="#").button Try now
                p.header__comment * No need to add Cards details

        section.section.section--deco-45
            .section__wrapper.section__wrapper--white.section__wrapper--left.section__wrapper--flex
                .section__content.section__content--about
                    header.section__header
                        p.section__suptitle New Design
                        h2.section__title There is no other platforms for you as like <span>...</span>

                    p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores vero illo, sint expedita asperiores officia, rerum esse, delectus temporibus est, quisquam beatae! Delectus quia iure, eius maiores. Quia dolorem, dolore!
                    p.section__text Illo amet dolores quae blanditiis cum ipsa a quis tempora sit voluptate consequatur minus itaque aspernatur temporibus, voluptatibus perferendis magni placeat consectetur inventore. Soluta quis voluptatibus fugit quibusdam obcaecati saepe!

        section.section.section--features
            .section__wrapper.section__wrapper--flex
                .section__content
                    header.section__header.section__header--mb70
                        p.section__suptitle.section__suptitle--center New Features
                        h2.section__title.section__suptitle--center Some awesome Features
                    
                    .section__features
                        mixin feature(imgUrl, title, text)
                            article.feature 
                                .feature__icon: img(src= imgUrl)
                                .h3.feature__title= title
                                p.feature__text= text

                        +feature("./img/icons/picture.png", "Some awesome features", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ex, inventore culpa quo dolorum nesciunt sequi.")
                        +feature("./img/icons/airplane.png", "Some awesome features", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ex, inventore culpa quo dolorum nesciunt sequi.")
                        +feature("./img/icons/bulb.png", "Some awesome features", "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, ex, inventore culpa quo dolorum nesciunt sequi.")

        section.section.section--white.section--deco-78.section--flex.section--auto
            .section__wrapper.section__wrapper--flex
                .section__content.section__content--goose
                    header.section__header
                        p.section__suptitle New Design
                        h2.section__title Responsive design, just need your tap <span>...</span>

                        p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores vero illo, sint expedita asperiores officia, rerum esse, delectus temporibus est, quisquam beatae! Quia dolorem, dolore!

                .macbook: img(src="./img/goose.png", alt="")

        section.section.section--testimonials.section--flex
            .section__wrapper.section__wrapper--flex
                .testimonials
                    mixin testimonial(name, position, text, avatarUrl)
                        article.testimonial
                            .testimonial__avatar: img(src= imgUrl)
                            h3.testimonial__name= name
                            p.testimonial__position= position
                            p.testimonial__text= text

                    +testimonial("Jonathon Doe", "Co Founder", "Eaque facilis magni necessitatibus, laudantium in dicta ipsam porro. Tenetur tempore error ut ducimus nemo aliquam delectus. Animi commodi praesentium quo quas!", "")
                    +testimonial("Jonathon Doe", "Co Founder", "Eaque facilis magni necessitatibus, laudantium in dicta ipsam porro. Tenetur tempore error ut ducimus nemo aliquam delectus. Animi commodi praesentium quo quas!", "")
                    +testimonial("Jonathon Doe", "Co Founder", "Eaque facilis magni necessitatibus, laudantium in dicta ipsam porro. Tenetur tempore error ut ducimus nemo aliquam delectus. Animi commodi praesentium quo quas!", "")

                .partners
                    mixin partner(imgUrl, linkUrl)
                        .partner
                            a(href= linkUrl): img(src= imgUrl)

                    +partner("", "#")
                    +partner("", "#")
                    +partner("", "#")
                    +partner("", "#")
                    +partner("", "#")
        
        section.section.section--features.section--flex
            .section__wrapper.section__wrapper--flex
                .section__content
                    header.section__header
                        p.section__suptitle.section__suptitle--center New Features
                        h2.section__title.section__title--center Some awesome features <span>...</span>

                        p.section__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores vero illo, sint expedita asperiores officia, rerum esse, delectus temporibus est, quisquam beatae! Delectus quia iure, eius maiores. Quia dolorem, dolore!
                .browser

        section.section.section--sign-up.section--auto
            .section__wrapper
                header.section__header
                    p.section__suptitle.section__suptitle--center New Features
                    h2.section__title.section__title--center.section__title--white Over 1000 designers are using ...
                
                .section__content
                    form.signup-form
                        input(type="text", placeholder="FULL NAME").signup-form__input
                        input(type="email", placeholder="YOUR EMAIL").signup-form__input
                        input(type="password", placeholder="PASSWORD").signup-form__input
                        input(type="submit", value="Try Now").button
                        p.signup-form__comment By Singing up you agree to our #[a(href="") terms&nbsp;&&nbsp;Services]


        footer.footer.section--deco-12
            .footer__wrapper
                .footer-block
                    .logo: img(src="./img/logo.png", alt="logo")
                    .footer-block__legalinfo Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. <br> USA & CAN: 1-888-123-4567 <br> Address: 34 Brokel Rd. NY

                .footer-block
                    h3.footer-block__title Support
                    ul.footer-block__menu
                        li: a(href="") Help Center
                        li: a(href="") Get Started
                        li: a(href="") Contact US

                .footer-block
                    h3.footer-block__title About US
                    ul.footer-block__menu
                        li: a(href="") About Us
                        li: a(href="") Terms of Use
                        li: a(href="") Privacy Policy

                .footer-block
                    h3.footer-block__title Get Newsletter
                    form.news-form
                        input(type="email", placeholder="EMAIL")
                        input(type="submit", value="").button
                    .social